input, textarea, select {
    margin-bottom: 20px;
    margin: 10px
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    text-align: center;
}

input[type=submit]{
    background-color: aqua;
    color:red;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    display: flex;
}

input, select {
    border:  2px solid black;
    width: 100%;
}

label {
    text-align: left;
    justify-items: left;
    padding: 20px;
}

form {
    justify-items: center;
    border: 5px dashed gray;
    border-radius: 20%;
    margin: 10px;
    padding: 20px
}

textarea {
    width: 90%;
}

.addinfo {
    text-align: center;
    display: flex;
    margin: 0 auto;
}